.signIn {
  align-items: center;
	display: flex;
	flex-direction: column;
  flex-grow: 1;
	justify-content: center;
}

h1 {
  color: #ffffff;
  font-size: 48px;
  margin: 0;
}

.button {
  background: #5c677e;
  border: 0;
  border-radius: 32px;
  box-shadow: 0 3px 6px rgba(#000, 0.2);
  color: #ffffff;
  font-family: inherit;
  font-size: 32px;
  line-height: 1;
  margin: 8px 0 32px;
  padding: 12px 40px;

  &:active,
  &:focus,
  &:hover {
    background: lighten(#5c677e, 10%);
    outline: 0;
    transition: background 0.3s ease-in-out;
  }
}