.currentUser {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.avatar {
  background: rgba(#fff, 0.5);
  border-radius: 50%;
  margin-right: 4px;
  padding: 2px;
}

.button {
  margin: 0;
}