h2 {
  color: #9fa6b6;
  font-weight: normal;
  margin-top: 32px;
}

.fieldset {
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }
}

.split {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  .fieldset {
    margin-top: 0;
    width: 45%;
  }
}