.exercise {
  background: #30353f;
  box-shadow: 0 3px 6px rgba(#000, 0.2);
  color: #ffffff;
  padding-top: 10px;
  position: relative;
  text-align: center;

  + .exercise {
    margin-top: 20px;
  }
}

h3 {
  color: lighten(#30353f, 45%);
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}

.setting {
  color: lighten(#30353f, 45%);
  line-height: 1;
  margin-top: 5px;
}

.settingText {
  color: #ffffff;
  font-size: 128px;
}

.buttons {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 0;
}

.buttonCompleted {
  align-items: center;
  background: #7b9058;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 3px rgba(#000, 0.1);
  display: flex;
  height: 60px;
  justify-content: center;
  line-height: 1;
  margin-right: 10px;
  padding: 0;
  transition: background 0.3s ease-in-out;
  width: 60px;

  &:hover,
  &:active,
  &:focus {
    background: lighten(#7b9058, 10%);
    outline: 0;
  }
}

.buttonFailed {
  align-items: center;
  background: #a24335;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 3px rgba(#000, 0.1);
  display: flex;
  height: 40px;
  justify-content: center;
  line-height: 1;
  margin-left: 10px;
  padding: 0;
  width: 40px;

  &:hover,
  &:active,
  &:focus {
    background: lighten(#a24335, 10%);
    outline: 0;
  }
}

.completedList {
  display: flex;
  height: 10px;
  margin: 0;
  padding: 0;
}

.completed {
  height: 10px;
  list-style: none;
  width: percentage(1/6);

  &:nth-child(1) {
    background: linear-gradient( to right, rgba(#7b9058, 0.4), rgba(#7b9058, 0.5));
  }
  &:nth-child(2) {
    background: linear-gradient( to right, rgba(#7b9058, 0.5), rgba(#7b9058, 0.6));
  }
  &:nth-child(3) {
    background: linear-gradient( to right, rgba(#7b9058, 0.6), rgba(#7b9058, 0.7));
  }
  &:nth-child(4) {
    background: linear-gradient( to right, rgba(#7b9058, 0.7), rgba(#7b9058, 0.8));
  }
  &:nth-child(5) {
    background: linear-gradient( to right, rgba(#7b9058, 0.8), rgba(#7b9058, 0.9));
  }
}